.logo {
  font-family: 'Sansita Swashed';
  font-size: 30px;
  letter-spacing: 1px;
  padding: 10px;
  color: #E96479;
.subtext {
    font-family: 'Open Sans', sans-serif;
    display:block;
    font-size: 12px;
    letter-spacing: 0;
    text-transform: uppercase;
    font-weight: 500;
    color: #F5E9CF;
  
  }
}